<div *ngFor="let articulo of articulosArray.articulos" class="row">
  <a [href]="articulo.url" *ngIf="articulo.title" target="_blank">
    <ul class="nav nav-pills">
      <li class="title-time">{{ articulo.title }}</li>
      <li class="author">- {{ articulo.author }} -</li>
    </ul>
  </a>
  <a [href]="articulo.story_url" *ngIf="!articulo.title" target="_blank"> 
    <ul class="nav nav-pills">
      <li class="title-time">{{ articulo.story_title }}</li>
      <li class="author">- {{ articulo.author }} -</li>
    </ul>
  </a>
  <div class="list-right">
    <ul>
      <li class="title-time">
        {{ articulo.created_at | date: "dd" }}
        {{ articulo.created_at | date: "LLL" }} {{ articulo.created_at | date: "HH" }}:{{ articulo.created_at | date: "mm" }} {{ articulo.created_at | date: "aaa" }}
      </li>
      <li><button (click)="deleteArticulo(articulo._id)">Delete</button></li>
    </ul>
  </div>
</div>
