div {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.row {
  padding: 10px;
  background-color: #ffffff;
  border: 1px #ccc;
}

.row:hover {
  background-color: #fafafa;
}

ul {
  margin: 0px;
  padding: 0px;
  white-space: nowrap;
}

li {
  display: inline;
  padding: 10px;
}

a {
  text-decoration: none;
}

.title-time {
  color: #333;
  font-size: 13pt;
}

.author {
  color: #999;
}

.list-right {
  margin-bottom: 2px;
}